body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

#errorMsg {
  color: red;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}

h2 {
  text-align: center;
}


form {
  margin-bottom: 20px;
}

input, select {
  width: 25%;
  padding: 10px;
  margin: 5px auto;
  display: block;
  border-radius: 8px;
  border: 1px solid #ccc;
  text-align: center;
}



button:hover {
  opacity: 0.85;
}

input.error {
  border: 2px solid red;
}

input.error::placeholder {
  color: red;
}

p {
  text-align: center;
  background: white;
  padding: 15px;
  border-radius: 10px;
  margin: 15px auto;
  width: 80%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.authorLink {
  text-decoration: none;
  color: #007bff;
}

.authorLink:hover {
  text-decoration: underline;
}